* {
  margin: 0%;
  padding: 0%;
  font-family: 'Krona One', sans-serif;
  text-decoration: none;
  list-style: none;
  background-color: rgb(163, 195, 218);
}

/* a, a:visited, a:hover, a:active {
  color: inherit;
} */